# Ex2b - Getting and Knowing your Data

(special thanks to: https://github.com/justmarkham for sharing the dataset and materials.)

### Step 1. Import the necessary libraries

In [2]:
import pandas as pd
import requests

### Step 2. Get the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv)

In [3]:
# ok

### Step 3. Read the data into a dataframe variable

In [4]:
df = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv', sep='\t')

### Setp 4. Look into your dataset:
for example, look at the first entries, number of samples, number of columns and their names, indexing of the samples.

In [7]:
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

### Step 5. What is the item which was ordered the most?

In [29]:
items = {}
for i, (q, name) in df[['quantity', 'item_name']].iterrows():
    items.setdefault(name, 0)
    items[name] += q

max(items, key=items.get)

'Chicken Bowl'

### Step 6. For the most ordered item, how many items were ordered?

In [30]:
items['Chicken Bowl']

761

### Step 7. What is in the choice_description column of the most ordered item?

In [35]:
df['choice_description'].loc[5]
# Looks like customizations of the orders. E.g., this one isn't a regular Fresh Tomato Salsa (Mild),
# there are some changes to it.

'[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sour Cream, Guacamole, Lettuce]]'

### Step 8. How many items were orderd in total?

In [36]:
sum(df['quantity'])

4972

### Step 9. What is the type of the item_price?

In [39]:
df['item_price'].head()
# Strings of dollar amounts.

0     $2.39
1     $3.39
2     $3.39
3     $2.39
4    $16.98
Name: item_price, dtype: object

### Step 10. Get the price_item of the samples as float numbers
You can make a lambda function that turns the input to string (str), remove the dollar sign, and turn it to float. Then apply the lamnda function to the price_item

In [42]:
df = df.assign(item_price_f=lambda x: x['item_price'].str.replace('$', '').astype(float))
df.head()

,order_id,quantity,item_name,choice_description,item_price,item_price_f
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39,2.39
1,1,1,Izze,[Clementine],$3.39,3.39
2,1,1,Nantucket Nectar,[Apple],$3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98,16.98

### Step 11. How much was the revenue in whole period of the dataset?
Note: revenue is $quantity * item\_price$

Hint: You may use a lambda function

In [44]:
df['quantity'].dot(df['item_price_f'])

39237.02000000001

### Step 12. How many orders were made in the whole period?

In [48]:
len(df)

4622

### Step 13. What is the average revenue per order?

In [49]:
sum(df['item_price_f']) / len(df)

7.464335785374397

### Step 14. How many different items are sold?

In [50]:
df['item_name'].nunique()

50